<h1>Game Reviews</h1>

{{#if currentUser.currentUser}}
  <h3>Welcome {{currentUser.currentUser.username}}</h3>
  {{#link-to 'user' currentUser.currentUser.id}}Home{{/link-to}}
{{/if}}
<br>
<h3>Browse Games:</h3>
<ul class="list-group">
  {{#each games as |game|}}
    {{game-tile class="list-group-item" game=game}}
  {{/each}}
</ul>
